@use 'Styles/utilities' as *;


.header {
    width: 100vw;
    height: 94px;
    background-color: $white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 82.5px;


    &__nav {
        width: max-content;
        display: flex;
        gap: 48px;
    }
}