@use 'variables' as *;


.skip-to-content-link {
    position: fixed;
    top: 110px;
    left: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    background-color: $white;
    font-size: 0.8rem;
    text-decoration: underline;
    z-index: 100;
    transform: translateX(-200px);
    transition: transform 300ms ease;

    &:focus-visible {
        outline: 3px dashed $red-soft;
        outline-offset: 0;
        transform: translateX(0);
    }
}